
body, html {
  height:100%;
  margin:0;
  padding:0;
  }

  #header {
    height:110px;
    overflow:auto;
    background:rgb(28, 32, 38);

  }

  #container {
    background-image: url("https://i.imgur.com/Qotd9S5.jpg");
    height:200%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:100vh;
  }

  h1 {

    font-size:50px;
    font-family: 'Gugi', cursive;
    color:rgb(31, 62, 112);
    position:absolute;
    left:42%;
  }
  #scifi {
    position:absolute;
    top:0.1%;
    width:100px;

  }
  #fantasy {
   position:absolute;
   top:0.1%;
   left:20%;
  }
  #tabletop {
    position:absolute;
    top:0.1%;
    left:65%;
  }
  #comics {
  position:absolute;        
  top:0.1%;
    left:85%;
  }

.button {       
    background-color:rgb(31, 62, 112); 
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
  }
  #button1 {
    font-family: 'Gugi', cursive;
    color:rgb(31, 62, 112);
    font-size:50px;
    width:155px;
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius:8px;
  }
  #button1:hover {
    background-color:rgb(31, 62, 112);
    color:rgb(255,255,255);
  }
  #button2 {
    font-family: 'Gugi', cursive;
    color:rgb(31, 62, 112);
    font-size:50px;
    width:210px;
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius:8px;
  }
  #button2:hover {
    background-color:rgb(31, 62, 112);
    color:rgb(255,255,255);
  }
  #button3 {
    font-family: 'Gugi', cursive;
    color:rgb(31, 62, 112);
    font-size:50px;
    width:225px;
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius:8px;
  }
  #button3:hover {
    background-color:rgb(31, 62, 112);
    color:rgb(255,255,255);
  }
  #button4 {
    font-family: 'Gugi', cursive;
    color:rgb(31, 62, 112);
    font-size:50px;
    width:200px;
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius:8px;
  }
  #button4:hover {
    background-color:rgb(31, 62, 112);
    color:rgb(255,255,255);
  }

  #Eva {
    position:absolute;
    top:40%;
    left:.3%;
    }
  #welcome {
    position:absolute;
    top:66%;
    left:.5%;
    border:5px solid rgb(31, 62, 112);
    border-radius:8px;
    background-color:white;
    height:50%;
    width:65%;
    padding:10px;
    color:rgb(31, 62, 112);
    font-family: 'Poppins', sans-serif;
    font-size:19.5px;
    }

  #avatar {
    position:absolute;
    top:139%;
    left:.5%;  
    }
  #nametag {
    font-family: 'Poppins', sans-serif;
    position:absolute;
    top:176%;
    left:2.25%;  
    }  
  #avatartwo {
    position:absolute;
    top:139%;
    left:20.5%;
    }
  #nametagtwo {
    font-family: 'Poppins', sans-serif;
    position:absolute;
    top:176%;
    left:22.5%;  
    }
  #avatarthree {
    position:absolute;
    top:139%;
    left:40.5%;  
    }
  #nametagthree {
    font-family: 'Poppins', sans-serif;
    position:absolute;
    top:176%;
    left:43%;  
    }
  #avatarfour {
    position:absolute;
    top:139%;
    left:80%;  
    }
   #nametagfour {
    font-family: 'Poppins', sans-serif;
    position:absolute;
    top:176%;
    left:83%;  
    }
   #blackbackground {
    position:fixed;
     top:139%;
      left:80%;
    }
   #avatarfive {
    position:absolute;
    top:139%;
    left:60.5%;  
    }
   #nametagfive {
    font-family: 'Poppins', sans-serif;
    position:absolute;
    top:176%;
    left:62%;  
    }

    #discord-link {
    position:absolute;
    top:85%;
    left:70%;
    color:rgb(67, 73, 84);
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    }
    a:link {
    color:rgb(67, 73, 84);
    text-decoration:none;
    }
      a:visited {
    color:rgb(67, 73, 84);
    }
    a:hover {
    color:rgb(28, 32, 38);
    }

    iframe {
    position:absolute;
    top:20% ;    
    left:70%;
    }
    